* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --col-1: #fff;
  --col-2: #324651;
  --col-3: #ffe600;
  --col-4: #545b6b;
  --col-5: #e6e6e6;
  --col-6: #182227;
}
.container {
  height: 800px;
  background-color: var(--col-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--col-1);
  justify-content: space-evenly;
}
.container .header {
  width: 50%;
}
.header h1 {
  font-size: 50px;
  font-weight: lighter;
  margin-bottom: 20px;
}
.header p {
  font-size: 14px;
}
.container .form form {
  width: 1000px;
  height: 500px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.form form input {
  width: 300px;
  height: 40px;
  background-color: var(--col-2);
  color: var(--col-1);
  border: 1px solid white;
  border-radius: 8px;
  margin-right: 20px;
  padding: 10px 15px;
}
.form form textarea {
  background-color: var(--col-2);
  color: var(--col-1);
  padding-top: 15px;
}
.form form button {
  color: var(--col-2);
  background-color: var(--col-1);
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
}
.form button:hover {
  background-color: var(--col-6);
  color: var(--col-1);
  cursor: pointer;
}
/* Footer */
footer {
  height: 220px;
  background-color: var(--col-6);
  color: var(--col-1);
}
img {
  height: 30px;
  width: 30px;
}
.items {
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  letter-spacing: 0.5px;
}
.items ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  list-style-type: none;
}
.pre-info {
  margin-top: 15px;
}
.last-info {
  font-size: 13px;
  margin-bottom: 10px;
}
