.grid {
  width: 1150px;
  height: 750px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "image-1 image-2 text-box-1 text-box-1"
    "text-box-2 text-box-2 text-box-2 text-box-2"
    "countdown countdown image-3 image-3";
  gap: 20px;
}
.grid div {
  border: 1px solid black;
}
.image-1 {
  grid-area: image-1;
}
.image-2 {
  grid-area: image-2;
}
img {
  width: 100%;
  height: 100%;
}
.text-box-1 {
  grid-area: text-box-1;
  padding: 10px;
  text-align: center;
}
.text-box-2 {
  grid-area: text-box-2;
  padding: 10px;
  text-align: center;
}
.countdown {
  grid-area: countdown;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  border: none !important;
}
.countdown div {
  font-size: 32px;
  align-self: center;
  line-height: 100px;
  height: 100px;
}
.countdown div:first-child::after {
  content: "hours";
  font-size: 12px;
}
.countdown div:nth-child(2)::after {
  content: "min";
  font-size: 12px;
}
.countdown div:last-child::after {
  content: "sec";
  font-size: 12px;
}
.image-3 {
  grid-area: image-3;
}
