.grid {
  width: 600px;
  height: 600px;
  border: 4px solid gray;
  margin: 0 auto;
  display: grid;
  /*
  grid-tamplate-columns: 200px 300px;
  grid-tamplates-rows: 100px 150px 70px; 
            percakto hapsiren ne rresht dhe kolona  
   mund ta ndash ne fractions 1fr 1fr          
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, 1fr);
 */
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  /*
  column-gap: 10px;
  row-gap: 10px; */
  gap: 20px;
}
.items {
  background-color: teal;
  border: 1px solid black;
  text-align: center;
  line-height: 100px;
}
.first {
  grid-column-start: 1;
  grid-column-end: 3;
}
.third {
  grid-row-start: 2;
  grid-row-end: 4;
}
.inner-grid {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  gap: 10px;
}
.inner-grid .items {
  background-color: skyblue;
}
